@{
    ViewBag.Title = "Projekt Zaliczeniowy - O projekcie";
}
<h2>O projekcie</h2>
 
<p>Aplikacja bazodanowa umozliwiajaca: dodwanie, usuwanie oraz przeglądanie baz danych o:
    <ul>
        <li>Operatorach,</li>
        <li>Maszynach,</li>
        <li>Halach.</li>
    </ul>
    
    </p>

