@{
    ViewBag.Title = "Projekt Zaliczeniowy - Kontakt";
}
<h2>Kontakt</h2>
 

<address>
    Zbigniew Pielaszkiewicz<br />
    Nr indeksu : P-6806
</address>

<address>
    <strong>adres e-mail :</strong>   <a href="mailto:z.pielaszkiewicz@wp.pl">z.pielaszkiewicz@wp.pl</a><br />
   
</address>